# Python
__pycache__/
*.py[cod]
*.pkl
*.joblib

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/

# VS Code
.vscode/

# Dados brutos grandes (caso não queira subir o .csv)
*.csv

# Sistema
.DS_Store
Thumbs.db


# Ignorar arquivos de figuras
*.png
*.jpg
*.jpeg
*.pdf
*.svg
*.eps
*.pkl

# Ignora arquivos por tipo

# Ignora arquivos específico
.firebaserc
firebase.json

# Ignorar pastas
public/*
functions/*
.firebase/*
.github/*
bigfive-site/*